{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {% for message in messages %}
                        {{ message }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            {% endwith %}
            <h2>Новости</h2>
            {% for news in news_list%}
            <h3><a href= '{{news.url}}'>{{news.title}}</a></h3>
            <p>{{news.published.strftime('%d.%m.%Y')}}</p>
            <hr />
            {% endfor %}
        </div>
        <div class="col-4">
            <h2>Прогноз Погоды</h2>
            {%if weather_text%}
                Погода: {{weather_text.temp_C}}, ощущается как {{weather_text.FeelsLikeC}}
            {%else%}
                Server weather no connect!
            {%endif%}
        </div>
    </div>
{% endblock %}
